# Dependencies
node_modules

# Next.js build output
.next/
out/

# Environment files
.env.local
.env*.local

# Debug logs
npm-debug.log*

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
nul

# TypeScript
*.tsbuildinfo
